
/* @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* --color-fire: #ff7402;
	--color-grass: #9bcc50;
	--color-steel: #9eb7b8;
	--color-water: #4592c4;
	--color-psychic: #f366b9;
	--color-ground: #ab9842;
	--color-ice: #51c4e7;
	--color-flying: #75adbd;
	--color-ghost: #4d5b64;
	--color-normal: #a4acaf;
	--color-poison: #7e0058;
	--color-rock: #a38c21;
	--color-fighting: #d56723;
	--color-dark: #707070;
	--color-bug: #729f3f;
	--color-dragon: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
	--color-electric: #bba909;
	--color-fairy: #fdb9e9;
	--color-shadow: #7b62a3;
	--color-unknow: #757575;

	--color-primary: #006d77;
	--color-primary-hover: #83c5be; */
	
	--color-fire: 255,116,2;
	--color-grass: 155,204,80;
	--color-steel: 158,183,184;
	--color-water: 69,146,196;
	--color-psychic: 243,102,185;
	--color-ground: 171,152,66;
	--color-ice: 81,196,231;
	--color-flying: 117,173,189;
	--color-ghost: 77,91,100;
	--color-normal: 164,172,175;
	--color-poison: 126,0,88;
	--color-rock: 163,140,33;
	--color-fighting: 213,103,35;
	--color-dark: 112,112,112;
	--color-bug: 114,159,63;
	--color-electric: 232, 195, 51;
	--color-dragon:83, 63, 199;
	--color-fairy: 253,185,233;
	--color-shadow: 123,98,163;
	--color-unknow: 117,117,117;

	--color-primary: 0,109,119;
	--color-primary-hover: 131,197,190;
}

body{
  background-color: rgb(22, 31, 47);
  
}
@font-face{
	font-family:'Pixelfont';
	src: url('../src/assets/fonts/Minecraft.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	
}

	@layer components{
		.card-types{
			@apply flex justify-between gap-[4px] py-2 ;
		}
		.filter-check{
			@apply text-sm px-[5px] py-[5px] rounded-full transition-all duration-300   text-white font-bold shadow-[0_8px_30px_rgb(0,0,0,0.12)] 
		}
		.navlinks{
			@apply bg-[#475569] max-md:hover:bg-[#3e4a5c] transition duration-300 py-2 px-3 rounded-lg
		}
		.table-move{
			@apply px-2 py-3
		}
		.table-container{
			@apply w-full  max-lg:overflow-x-scroll
		}
		

	}
	.checkbox-hidden {
		display: none;
	  }
	  
	  .iconcheck {
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
	  }
	  
	  .filter-check img {
		width: 24px;
		height: 24px;
		
	  }

	  #scrollButton {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background-color: #d1361b;
		color: #eeeeee;
		padding: 7px;
		border-radius: 50%;
		display: none;
		cursor: pointer;
	  }
	  
	  #scrollButton.show {
		display: block;
	  }

/* Tipos de Pokemons */
.water {
	background-color: rgba(var(--color-water));
}

.grass {
	background-color: rgba(var(--color-grass));
}

.poison {
	background-color: rgba(var(--color-poison));
}

.fire {
	background-color: rgba(var(--color-fire));
}

.bug {
	background-color: rgba(var(--color-bug));
}

.dragon {
	background: rgba(var(--color-dragon));
}

.flying {
	background-color: rgba(var(--color-flying));
}

.ground {
	background-color: rgba(var(--color-ground));
}

.steel {
	background-color: rgba(var(--color-steel));
}

.psychic {
	background-color: rgba(var(--color-psychic));
}

.ice {
	background-color: rgba(var(--color-ice));
}

.ghost {
	background-color: rgba(var(--color-ghost));
}

.normal {
	background-color: rgba(var(--color-normal));
}

.rock {
	background-color: rgba(var(--color-rock));
}

.electric {
	background-color: rgba(var(--color-electric));
}

.fighting {
	background-color: rgba(var(--color-fighting));
}

.fairy {
	background-color: rgba(var(--color-fairy));
}

.dark {
	background-color: rgba(var(--color-dark));
}
/* .water {
	background-color: var(--color-water);
}

.grass {
	background-color: var(--color-grass);
}

.poison {
	background-color: var(--color-poison);
}

.fire {
	background-color: var(--color-fire);
}

.bug {
	background-color: var(--color-bug);
}

.dragon {
	background: var(--color-dragon);
}

.flying {
	background-color: var(--color-flying);
}

.ground {
	background-color: var(--color-ground);
}

.steel {
	background-color: var(--color-steel);
}

.psychic {
	background-color: var(--color-psychic);
}

.ice {
	background-color: var(--color-ice);
}

.ghost {
	background-color: var(--color-ghost);
}

.normal {
	background-color: var(--color-normal);
}

.rock {
	background-color: var(--color-rock);
}

.electric {
	background-color: var(--color-electric);
}

.fighting {
	background-color: var(--color-fighting);
}

.fairy {
	background-color: var(--color-fairy);
}

.dark {
	background-color: var(--color-dark);
} */